<h1 class="display-6 mb-4 mt-5 mx-3" > All Items </h1>

<ol class="list-group list-group-flush mt-5" >
<% @items.each do |item| %>

<li class="list-group-item" > <%= link_to item.name, item  %> </li>

<% end %>
</ol>